<div>
  <nav>
    <div>Logo</div>
  </nav>
  <div class="ui">
    <div class="filter"></div>
    <div class="search"></div>
  </div>

  <div class="gallery">
    <.archmark :for={archmark <- @archmarks} archmark={archmark} />
  </div>
</div>
