/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@import "phoenix-colocated/archmarks/colocated.css";
@source "../css";
@source "../js";
@source "../../lib/archmarks_web";
/* Required for Tailwind to automatically pick up changes in colocated CSS files in dev */
@source "../../_build/dev/phoenix-colocated/archmarks/*/";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. */
@plugin "daisyui/packages/bundle/daisyui" {
  themes: false;
}

/* daisyUI theme plugin.
  We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
  on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */
@plugin "daisyui/packages/bundle/daisyui-theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(30.33% 0.016 252.42);
  --color-base-200: oklch(25.26% 0.014 253.1);
  --color-base-300: oklch(20.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(58% 0.233 277.117);
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(60% 0.25 292.717);
  --color-accent-content: oklch(96% 0.016 293.756);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/packages/bundle/daisyui-theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(70% 0.213 47.604);
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: oklch(55% 0.027 264.364);
  --color-secondary-content: oklch(98% 0.002 247.839);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }

/* This file is for your main application CSS */


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  /* display: block; */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}




/* .masonry { */
/*   --gutter: 0.25em; */
/*   --flow-space: var(--gutter); */
/*   --switcher-target-container-width: 28rem; */
/* } */
/**/
/* .masonry img { */
/*   width: 100%; */
/* } */
/**/
/* .switcher { */
/*   display: flex; */
/*   flex-wrap: wrap; */
/*   gap: var(--gutter, 1em); */
/*   align-items: var(--switcher-vertical-alignment, flex-start); */
/* } */
/**/
/* .switcher > * { */
/*   flex-grow: 1; */
/*   flex-basis: calc( */
/*     (var(--switcher-target-container-width, 40rem) - 100%) * 999 */
/*   ); */
/* } */
/**/
/* .flow > * + * { */
/*   -webkit-margin-before: var(--flow-space, 1em); */
/*           margin-block-start: var(--flow-space, 1em); */
/* } */
/**/
/* .wrapper { */
/*   max-width: 80rem; */
/*   margin-inline: auto; */
/*   padding-inline: var(--gutter); */
/* } */


body {
  background-color: #666666;
  padding: 0 0 5rem 0;

}

nav {
  background-color: #ffffff;
  /* height: 5rem; */
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  /* height: auto; */
  /* flex-shrink: 0; */
  /* height: 3.5rem; */
  /* width: max-content; */
  /* aspect-ratio: 1/1; */
}

.logo svg {
  height: auto;
  width: 5rem;
  /* aspect-ratio: 1/1; */
}

.changa-normal {
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lettermark {
  font-size: 3rem;
  text-transform: uppercase;
}

.gallery {
  column-count: 4;
  column-gap: 3rem;
  max-width: 90vw;
  margin-inline: auto;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 3rem; */
}


.gallery img {
  object-fit: cover; 
  object-position: center center;
  display: inline-block;
  /* break-inside: avoid; */
  /* aspect-ratio: 1/1; */
}

.frame {
  position: relative;
  -moz-box-shadow: 0 30px 36px rgba(0,0,0,0.5);
  box-shadow: 0 30px 36px rgba(0,0,0,0.5);
  border: 11px solid #ededed;
  margin-bottom: 3rem;
  /* width: 400px; */
  /* height: 250px; */
  /* flex-grow: 1; */
}

.frame-inset::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  -moz-box-shadow: inset 0 20px 20px rgba(0,0,0,0.3);
  box-shadow: inset 0 20px 20px rgba(0,0,0,0.3);
}


.frame-inset {
  -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
  background-color: #ffffff;
  border: 32px solid #f5f5f5;
  max-width: 100%;
  max-height: 100%;
  padding: 1.5rem;
  text-align: center;
}

.ui {
  margin: 1.5rem 0;
  padding-left: 1.5rem;
}

.filter {
  display: flex;
  align-items: center;
  width: 100%;
}

.filter button {
  /* background-color: white; */
  color: #333;
  padding: .5rem;
  flex-grow: 1;
}

button.active {
  color: #fff;
}

.search input {
  color: #fff;
  padding: 1rem;
}

.about {
  /* align-self: flex-end; */
  justify-self: flex-end;
}

.content {
  margin-inline: auto;
  padding: 3rem 1.5rem;
  max-width: 80ch;

  h1 {
    color: white;
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.diptych {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin: 3rem 0;
}

.links a {
  display: inline-block;
  padding: .5rem 1rem;
  text-decoration: underline;

}

@media (max-width: 1600px) {
  .gallery { column-count: 3;}
}

@media (max-width: 1200px) {
  .logo svg { width: 4rem; }
}

@media (max-width: 1080px) {
  .logo svg { width: 3rem; }
  .lettermark { font-size: 2rem; }
}

@media (max-width: 1000px) {
  .gallery { column-count: 2; }
  /* .logo {gap: 1rem;} */
}
@media (max-width: 960px) {
  .gallery { column-count: 1; }
  nav {
    flex-direction: column;
    gap: 1rem;
  }
  .logo {
    align-self: start;
    width: 100%;
  }

  .content { padding: 1.5rem; max-width: 60ch; }
  .content p { font-size: 1rem; }
  .content h1 { font-size: 3rem;}
  .diptych { 
    flex-direction: column; 
    gap: 0; 
    margin: 0;
  }

}


