<Layouts.flash_group flash={@flash} />
<div class="content">
  <h1>About</h1>
  <p>I've been collecting these "Arch" marks for years. I had a couple, then dozens, then hundreds. There are old forgotten archmarks, clever archmarks, funny archmarks and obscure archmarks. We use the Arch motif in our logos far more that we might realize. So, enjoy this stroll through St. Louis' Archmarks.</p>

  <!-- <h2> About the logo</h2> -->
  <div class="diptych">
    <div class="frame">
      <div class="frame-inset">
        <img 
          src="/images/stlouis_gateway_arch_construction.webp"
          alt="St. Louis Gateway Arch under construction"
          width="726"
          height="494"
          loading="lazy"
        />
      </div>
    </div>

    <div class="frame">
      <div class="frame-inset">
        <img 
          src="/images/archmarks-logo.svg"
          alt="St. Louis Gateway Arch under construction"
          width="400"
          height="400"
          loading="lazy"
        />
      </div>
    </div>

 
  </div>
  <p>The logo is an "A" and an "M" for Arch Marks. But the concept came from an image of the arch while under construction. The "A," so to speak, is not completed either. It's a work in progress if you will, and this site will be too. I will continue to post new Archmarks as they roll in.</p>
</div>
